.page-not-found-container {
    height: 100vh;
}

.text-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.page-not-found-container h1 {
    font-family: 'Poppins', sans-serif;
    color: #202020;
    font-weight: 600;
    font-size: 4rem;
}