.auth-background {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url("../../assets/auth-background.jpg");
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 33.33%;
}

.brand-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 0.4rem 0;
    background-color: #FA4A0C;
    border-radius: 0.4325rem 0.4325rem 0 0;
    text-decoration: none;
}

.brand-container h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.auth-body {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 0 0.4325rem 0.4325rem;
    padding: 2.8rem 1.6rem;
}

.name-container {
    display: flex;
    column-gap: 0.8rem;
}

.single-input{
    margin-bottom: 1.2rem;
}

.single-input label{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #202020;
    margin-bottom: 0.4rem;
}

.single-input input, .default-input-style {
    background: #DEDEDE;
    border-radius: 0.4375rem;
    border-width: 0px;
    border: none;
    outline: none;
    padding: 0.85rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #202020;
    width: 100%;
}

.single-input.password-input{
    margin-bottom: 0.4rem;
}

.forgot-password{
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #202020;
    margin-bottom: 0.8rem;
    text-align: right;
}

button.auth-form-submit{
    background: #FA4A0C;
    border-radius: 0.4375rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #FFFFFF;
    border: none;
    width: 100%;
    padding: 0.6rem 0;
    margin-top: 0.8rem;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.alt-auth-info{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #202020;
    margin-top: 2rem;
}

.auth-link {
    color: #FA4A0C;
}

.auth-info {
    display: flex;
    align-items: center;
    border: 1px solid #DEDEDE;
    border-radius: 0.4375rem;
    padding: 0.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.error-color {
    color: #F60606;
}

.info-color {
    color: #202020;
}

.auth-info-text {
    padding-left: 0.6rem;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotating 3s linear infinite;
}